@import "@new-ui/foundations";

@font-face {
  font-family: "Mono-Regular";
  src: url("/fonts/Mono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mono-Italic";
  src: url("/fonts/Mono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --regular: "Mono-Regular";
  --italic: "Mono-Italic";
  --accent: var(--pink5);
  --selected: var(--pink7);
}

a:not([class]) {
  color: var(--accent);
}

body {
  margin: 0;
  font-family: var(--regular);
  font-size: var(--desktop-body);
  line-height: var(--desktop-body);
  color: var(--content-inked);
  background: var(--background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  overflow-wrap: break-word;
  vertical-align: baseline;

  font-kerning: normal;
  font-variant-numeric: oldstyle-nums proportional-nums;
}

main { 
  margin: 1.42vw;
}

a, a * {
  cursor: pointer;
}

a {
  color: var(--accent);
  text-decoration-line: underline;
  text-decoration-thickness: 0.063rem;
  text-underline-offset: 0.125rem;
}

li span{
  color: var(--content-secondary-alt);
}

a:hover, a:active {
  color: var(--selected);
}

h1, h2, code, p, ul, li, code {
  font-family: var(--regular);
  font-size: var(--desktop-body);
  line-height: var(--lh-desktop-body);
}

h2 {
  color: var(--content-secondary-alt);
  font-family: var(--italic);
}

.italic {
  font-family: var(--italic);
}

section {
  border-bottom: 1px dotted var(--border-inked);
  padding: var(--spacing-04) 0;
}

footer {
  padding: var(--spacing-04) 0;
}

@media (max-width: 360px) {
  body, h1, h2, code, span, li, p, a {
    font-size: var(--mobile-body-sm);
    line-height: var(--mobile-body-sm);
  }
}